body {
    background-color: #F5F5F5;
    color: #212121;
}

.logo {
    color: #000;
}

.lead {
   color: #2196F3; 
}

.list {
    list-style: none;
}

/* колір основного тексту #212121 */

/* другорядний колір #757575 */

/* білий #FFFFFF */

/* акцент #2196F3 */

/* колір частини лого #000000 */

/* колір фону основний #F5F5F5 */

/* колір фону другорядний #2F303A */

/* колір фону другорядний #F5F4FA */